@font-face {
    font-family: 'Figtree';
    src: url('../fonts/Figtree-VariableFont_wght.ttf');
}
body{
    font-family: 'Figtree';
    background-color: hsl(47, 88%, 63%);
}
img{
    width: 100%;
    border-radius: 4%;
}
.card-container{
    border: 1px solid black;
    width: 25%;
    padding: 1.5%;
    margin: auto;
    margin-top: 10%;
    border-radius: 4%;
    background-color: white;
    box-shadow: 10px 5px;
}

#learn{
    background-color: hsl(47, 88%, 63%);
    width: fit-content;
    border-radius: 5px;
}
#learn h3{
    padding: 10px;
   
}

.profile{
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    width: 48%;
}
.profile img{
    width: 30%;
}

@media only screen and (max-width: 375px){
    .card-container{
        width: 85%;
        padding:6%;
    }
    img{
        
    }
    
}